# Environment
.env
.env.*
firestore_keys.json
.env.*

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
